%section.description
  %h1
    #{t('location_fields.description')}:
  %span.character-limited
    = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new(no_links: true)).render(location.description).html_safe
